<app-navbar></app-navbar>

  <div class="body">
    <div class="section-copy">
        <div class="banner-image-container"><img src="https://anemoitechnologies.com/images/AboutBanner.jpg"  alt="" class="banner-image"></div>
        <div class="container-28 w-container">
          <div class="contentblock_left">
            <h1 class="heading">About</h1>
            <div class="highlight-text">Anemoi is an innovative IT company that helps businesses stay afloat and fly higher in the volatile global market.</div>
            <div class="bodytext_black">We strive to enhance overall productivity, employee growth and customer experience through technologies and services that suit this age of information and automation.<br></div>
          </div>
        </div>
      </div>
      <div class="section-7">
        <div class="w-container" >
          <div class="text-block-15" style="margin-left: 20px;">Anemoi’s main focus is on</div>
          <div class="w-layout-grid grid-9" style="margin-left: 60px; margin-right: 60px;">
            <div class="sector_aviation">
              <div class="text-block-16">Transportation</div>
            </div>
            <div class="sector_education">
              <div class="text-block-16">Education</div>
            </div>
            <div class="sector_retail">
              <div class="text-block-16">Retail</div>
            </div>
            <div class="sector_hospitality">
              <div class="text-block-16">Hospitality</div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-2">
        <div class="container-29 w-container">
          <div class="w-layout-grid grid-8">
            <div class="div-block-98">
              <h1 class="heading-copy" style="margin-left: 20px;">Mission</h1>
              <div class="highlight-text_white" style="margin-left: 20px;">Our mission is to solve real world challenges by harnessing the power of technology. We will pursue innovation focused on simplifying lives providing competitive advantage to our clients as the real world and IT world converges.</div>
              <div class="bodytext_white"style="margin-left: 20px;">We started from New York in the year 2015 with the concept of working with airline companies and developing niche products which can be patented internationally. Our US office is based out of seattle. The Indian office began its operations in the year 2017 from Gurgaon.<br></div>
              
            </div>
          
            <div> </div>
            <div class="div-block-99">
              <div class="row">
                <span ><img src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg" alt="" class="profile-image"></span>
                <span style="margin-left: 120px;" ><img src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg" alt="" class="profile-image"></span>
                   <div>
                     <h3 style="margin-left: 40px;">FOUNDER <span style="margin-left: 230px;">HR HEAD</span></h3>
                    
                   </div>
              </div>
           
            </div>
          </div>
        
          
        </div>
      </div>
     
    
  </div>