<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 mt20">
        <p-card class="text-center" header="Register Here!!!">
          <hr />
          <form (ngSubmit)="formSubmit()">
            <div class="p-field p-col-12 p-md-4 mt40">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                  <i class="pi pi-user"></i>
                </span>
                <span class="p-float-label">
                  <input
                    type="text"
                    id="inputgroup"
                    pInputText
                    [(ngModel)]="user.employee.name"
                    name="name"
                  />
                  <label for="inputgroup">Enter Name</label>
                </span>
              </div>
            </div>
            <div class="p-field p-col-12 p-md-4 mt40">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                  <i class="pi pi-phone"></i>
                </span>
                <span class="p-float-label">
                  <input
                    type="text"
                    id="inputgroup"
                    pInputText
                    [(ngModel)]="user.employee.mobile"
                    name="mobile"
                  />
                  <label for="inputgroup">Enter Mobile Number</label>
                </span>
              </div>
            </div>

            <div class="p-field p-col-12 p-md-4 mt40">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                  <i class="pi pi-envelope"></i>
                </span>
                <span class="p-float-label">
                  <input
                    type="text"
                    id="inputgroup"
                    pInputText
                    [(ngModel)]="user.employee.email"
                    name="email"
                  />
                  <label for="inputgroup">Enter Email Id</label>
                </span>
              </div>
            </div>

            <div class="p-field p-col-12 p-md-4 mt40">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                  <i class="pi pi-id-card"></i>
                </span>
                <span class="p-float-label">
                  <input
                    type="text"
                    id="inputgroup"
                    pInputText
                    [(ngModel)]="user.username"
                    name="username"
                  />
                  <label for="inputgroup">Enter Employee Id</label>
                </span>
              </div>
            </div>

            <div class="p-field p-col-12 p-md-4 mt40">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                  <i class="pi pi-key"></i>
                </span>
                <span class="p-float-label">
                  <input
                    type="password"
                    id="inputgroup"
                    pInputText
                    [(ngModel)]="user.password"
                    name="password"
                  />
                  <label for="inputgroup">Enter password</label>
                </span>
              </div>
            </div>

            <div class="p-field p-col-12 p-md-4 mt40">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                  <i class="pi pi-users"></i>
                </span>
                <span class="p-float-label">
                  <input
                    type="text"
                    id="inputgroup"
                    pInputText
                    [(ngModel)]="user.employee.designation"
                    name="designation"
                  />
                  <label for="inputgroup">Enter Employee Designation</label>
                </span>
              </div>
            </div>

            <div class="p-field p-col-12 p-md-4 mt40">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                  <i class="pi pi-id-card"></i>
                </span>
                <span class="p-float-label">
                  <input
                    type="text"
                    id="inputgroup"
                    pInputText
                    [(ngModel)]="user.employee.department"
                    name="department"
                  />
                  <label for="inputgroup">Enter Employee Department</label>
                </span>
              </div>
            </div>

            <div class="p-field p-col-12 p-md-4 mt40">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                  <i class="pi pi-map-marker"></i>
                </span>
                <span class="p-float-label">
                  <input
                    type="text"
                    id="inputgroup"
                    pInputText
                    [(ngModel)]="user.employee.location"
                    name="location"
                  />
                  <label for="inputgroup">Enter Base/Location</label>
                </span>
              </div>
            </div>


            <div class="mt20 text-center">
              <button
                pButton
                pRipple
                type="submit"
                label="Register"
                class="p-button-success"
              ></button>
              <button
                pButton
                pRipple
                type="reset"
                label="Reset"
                class="p-button-raised ml20"
              ></button>
            </div>
          </form>
        </p-card>
      </div>
    </div>
  </div>
</div>
