<!-- project Table starts  from here -->
<!-- Dialog box to add Client -->
<p-dialog
  [(visible)]="projectDialogue"
  [style]="{ width: '800px' }"
  header="PROJECT DETAILS"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="bootstrap-wrapper">
      <div class="container">
        <div class="row">
         <div class="col-md-6">
          <div class="p-field mt20">
            <label for="name">Name Of Project</label>
            <input
                class="mt10"
              type="text"
              pInputText
              id="name"
              [(ngModel)]="project.name"
              required
              autofocus
          
            />
            <div class="p-field mt40">
              <label for="mentor">Mentor</label>
              <input
              class="mt10"
                type="text"
                pInputText
                id="mentor"
                [(ngModel)]="project.mentor"
                required
                autofocus
              
              />
            </div>

           
            <div class="p-field mt40">
              <label for="dos">Date Of Starting</label>
              <p-calendar
                      dateFormat="dd/mm/yy"
                      placeholder="Select"
                      [(ngModel)]="project.dateOfStarting"
                      [readonlyInput]="true"
                      name="toDate"
                      inputId="icon2"
                      [showIcon]="true"
                      appendTo="body"
                    ></p-calendar>
            </div>
          </div>

         </div>

         <div class="col-md-6">
          <div class="p-field mt20">
            <label for="promanager">Project Manager</label>
            <input
            class="mt10"
              type="text"
              pInputText
              id="promanager"
              [(ngModel)]="project.projectManager"
              required
              autofocus
            
            />
            <div class="p-field mt40">
              <label for="intern">Intern</label>
              <input
              class="mt10"
                type="text"
                pInputText
                id="intern"
                [(ngModel)]="project.intern"
                required
                autofocus
          
              />
            </div>

            
              <div class="p-field mt40">
                <label for="doe">Date Of Submission</label>
                <p-calendar
                dateFormat="dd/mm/yy"
                placeholder="Select"
                [(ngModel)]="project.dateOfSubmission"
                [readonlyInput]="true"
                name="toDate"
                inputId="icon2"
                [showIcon]="true"
                appendTo="body"
              ></p-calendar>
            </div>
          </div>

         </div>

        </div>
        <div class="p-field mt40">
          <label for="updates">Updates</label>
          <textarea
          pInputTextarea
          rows="2"
          cols="20"
          class="mt10"
            type="text"
           
            id="updates"
            [(ngModel)]="project.updates"
          ></textarea>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
      style="color: #be3c88e7 !important ; background-color: white !important;"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveClient()"
      style="color: #be3c88e7 !important ; background-color: white !important;"
    ></button>
    <!-- <button type="button" pButton pRipple (click)="showSuccess()" label="Success" class="p-button-success"></button> -->
  </ng-template>
</p-dialog>
<p-toast></p-toast>

<!-- Table to show project data -->
<div class="custom-table2" >
  <p-table
    styleClass="p-datatable-sm"
    #dt
    [value]="projectData"
    [rows]="5"
    [paginator]="true"
    [globalFilterFields]="['name', 'updates', 'dos', 'doe']"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <div class="p-m-0">
          <h3 class="div1-h2"> Project Details</h3>
 
           <span class="p-input-icon-left ml10">
             <i class="pi pi-search" style="color: white !important;"></i>
             <input
               pInputText
               type="text"
               (input)="dt.filterGlobal(getEventValue($event), 'contains')"
               placeholder="Search..."
               class="p-inputtext-sm"
             />
           </span>
           <p-button
       
             label="Add Project"
             icon="pi pi-plus"
             (click)="addProject()"
             class="custom-btn "
             
           ></p-button>
         </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th ></th>
                  <th>Sr.No.</th>
        <th pSortableColumn="name">Project</th>

        <th pSortableColumn="upadtes">Updates</th>
        <th pSortableColumn="dos">Date Of Starting</th>
        <th pSortableColumn="doe">Date Of Ending</th>
        <th>Action's</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-project1 let-i ="rowIndex">
      <tr>
          <td></td>
        <td>{{i+1}}</td>
        <td>{{ project1.name }}</td>
        <td>{{ project1.updates }}</td>
        <td>{{ project1.dateOfStarting| date: "MMMM d, y" }}</td>
        <td>{{ project1.dateOfSubmission| date: "MMMM d, y"  }}</td>

        <td>
         <div class="btn">
          <button
          pButton
          pRipple
          icon="pi pi-pencil"
          (click)="editClient(project1)"
          class="p-button-rounded p-button-secondary p-mr-2"
        ></button>
        &nbsp;
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          (click)="deleteClient(project1.id)"
          class="p-button-rounded p-button-secondary p-mr-2"
        ></button>
         </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between" style="color:purple;">
        In total there are {{ projectData ? projectData.length : 0 }} projects
      </div>
    </ng-template>
  </p-table>
  </div>