


<div class="card">
    
    <p-tabView styleClass="tabview-custom" class="custom-accordion">
        <p-tabPanel>
            <ng-template pTemplate = "header">
              <i style="color: white; " class="pi pi-refresh"></i>
              <span style="color: white; margin-left: 4px;  ">History</span>
            </ng-template>
            <p-table
            class="custom-table2"
        #dt
        [value]="reportData"
        styleClass="p-datatable-sm"
        responsiveLayout="scroll"
        [rows]="5"
        [paginator]="true"
        [globalFilterFields]="['username', 'reason', 'leavetype','fromDate']"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true"
      >
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <div class="div1"><h3 class="div1-h2" > Feedback List</h3>

              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  (input)="dt.filterGlobal(getEventValue($event), 'contains')"
                  placeholder="Search..."
                  class="p-inputtext-sm"
                />
              </span></div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr class="leave-header">
            <th></th>

            <th>Sr.No.</th>
            <th>Your Feedback</th>
            <th>Action's Taken</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-reportData let-i="rowIndex">
          <tr>
            <td></td>

            <td>{{ i + 1 }}</td>

            <td>{{ reportData.feedback }}</td>
            <td>{{ reportData.actionTaken }}</td>
            
          </tr>
        </ng-template>
      </p-table>
        </p-tabPanel>
        <p-tabPanel header="Header II">
            <ng-template pTemplate = "header">
              <i style="color: white; " class="pi pi-book"></i>
              <span style="color: white; margin-left: 4px;  ">Add Feedback</span>
            </ng-template>
            <div class="bootstrap-wrapper">
                <div class="container">
                  <div class="row">
                    <div class="col-md-6 offset-md-3 mt20">
                   
                        <p-panel header="Feedback!!" class="custom-panel">
                            <form (ngSubmit)="formSubmit()">
                      
                                <span style="margin-top: 5px;"  class="p-float-label ml20">
                                    <textarea
                                    [(ngModel)]="report.feedback"
                                      id="float-input"
                                      rows="10"
                                      cols="40"
                                      pInputTextarea
                                      name="feedback"
                                    ></textarea>
                                    <label style="margin-left: 40px;" for="float-input"
                                      ><strong >Add Feedback....</strong></label
                                    >
                                  </span>
                    
                                <div class="row">
                                    <div class="sizes mt10 ml80">
                                        <p-button
                                          type="submit"
                                          label="Add Feedback"
                                          icon="pi pi-check"
                                          styleClass="p-button-sm"
                                          class="btn"
                                        ></p-button>
                                      </div>
                                      
                                      <div class="btn mt10 ml20">
                                        <p-button
                                          type="reset"
                                          label="Reset"
                                          icon="pi pi-refresh"
                                          styleClass="p-button-sm"
                                          class="btn"
                                        ></p-button>
                                      </div>
                                </div>
                               </form>
                             
                        </p-panel>
                       
                    </div>
                  </div>
                </div>
            </div>
        </p-tabPanel>
       
    </p-tabView>
    </div>
    
