.profile-image{
    max-width: 80px;
    max-height: 80px;
    border: 1px solid black;
      border-radius: 50%;
    text-align: center;
    margin-left: 10px;
    margin: 5px;
  }

  .custom-color{
    background-color: #ffffffe7;
    color: #bb508ee7;
}

.row{
  margin-left: 0px;
}


:host ::ng-deep p-card .custom-card{
  
  background-color: #bb508ee7;
  color: white;
 
}

:host ::ng-deep p-card  .p-inputgroup  label {
  
 
  color: rgb(180, 167, 173)!important ;
 
} 

.invalid-feedback::ng-deep *{
  
  color: wheat;
 
}

