<div class="bootstrap-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-7 mt20">
          <p-card styleClass="custom-card">
            <div style="background-color: #f5f3f4e7; border-radius: 10px;">
              <div class="row">
                <img
                src="{{ 'data:image/jpg;base64,' + profilePic }}"
                  onerror="this.src='https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg'"
                  alt=""
                  class="profile-image"
                />
  
                <h1 style="color: #bb508ee7; margin-left: 10px">Profile Details!!</h1>
              </div>
            </div>
            <form [formGroup]="updateForm" (ngSubmit)="formSubmit(intern)">
              <div class="p-field p-col-12 p-md-4 mt40">
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon custom-color">
                    <i class="pi pi-user"></i>
                  </span>
                  <span class="p-float-label">
                    <input
                      type="text"
                      id="inputgroup"
                      pInputText
                      [(ngModel)]="intern.name"
                      formControlName="name"
                      [ngClass]="{ 'is-invalid': submitted && f?.['name'].errors }"
                    />
                    <label for="inputgroup">Enter Name</label>
                  </span>
                </div>
                <div
                *ngIf="submitted && f?.['name'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f?.['name'].errors?.['required']">
                  Required Filed!
                </div>
       
              </div>
              </div>
  
              <div class="p-field p-col-12 p-md-4 mt40">
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon custom-color">
                    <i class="pi pi-phone"></i>
                  </span>
                  <span class="p-float-label">
                    <input
                      type="text"
                      id="inputgroup"
                      pInputText
                      [(ngModel)]="intern.mobile"
                      formControlName="mobile"
                      [ngClass]="{ 'is-invalid': submitted && f?.['mobile'].errors }"
                    />
                    <label for="inputgroup">Enter Mobile Number</label>
                  </span>
                </div>
                <div
                *ngIf="submitted && f?.['mobile'].errors"
                class="invalid-feedback"
              >
          
                <div *ngIf="f?.['mobile'].errors?.['required']">
                   Required Filed!
                </div>
                <div *ngIf="f?.['mobile'].errors?.['pattern']">Enter a valid mobile number !!</div>
              </div>
              </div>
  
              <div class="p-field p-col-12 p-md-4 mt40">
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon custom-color">
                    <i class="pi pi-envelope"></i>
                  </span>
                  <span class="p-float-label">
                    <input
                      type="text"
                      id="inputgroup"
                      pInputText
                      [(ngModel)]="intern.email"
                      formControlName="email"  
                      [ngClass]="{ 'is-invalid': submitted && f?.['email'].errors }"
                    />
                    <label for="inputgroup">Enter Email Id</label>
                  </span>
                </div>
                <div
                *ngIf="submitted && f?.['email'].errors"
                class="invalid-feedback"
              >
          
                <div *ngIf="f?.['email'].errors?.['required']">
                   Required Filed!
                </div>
                <div *ngIf="f?.['email'].errors?.['pattern']">Email must be a valid email address</div>
              </div>
              </div>
  
              <div class="p-field p-col-12 p-md-4 mt40">
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon custom-color">
                    <i class="pi pi-id-card"></i>
                  </span>
                  <span class="p-float-label">
                    <textarea
                      name=""
                      id=""
                      cols="30"
                      rows="2"
                      type="text"
                      id="inputgroup"
                      pInputText
                      [(ngModel)]="intern.address"
                      formControlName="address"
                      [ngClass]="{ 'is-invalid': submitted && f?.['address'].errors }"
                    >
                    </textarea>
                    <label for="inputgroup">Enter Permanent Address</label>
                  </span>
                </div>
                <div
                *ngIf="submitted && f?.['address'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f?.['address'].errors?.['required']">
                  Required Filed!
                </div>
       
              </div>
              </div>
  
              <div class="p-field p-col-12 p-md-4 mt40">
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon custom-color">
                    <i class="pi pi-id-card"></i>
                  </span>
                  <span class="p-float-label">
                    <input
                      type="text"
                      id="inputgroup"
                      pInputText
                      [(ngModel)]="intern.username"
                      formControlName="username" 
                      readonly
                    />
                    <label for="inputgroup">Enter Employee Id</label>
                  </span>
                </div>
              </div>
  
              <div class="p-field p-col-12 p-md-4 mt40">
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon custom-color">
                    <i class="pi pi-users"></i>
                  </span>
                  <span class="p-float-label">
                    <input
                      type="text"
                      id="inputgroup"
                      pInputText
                      [(ngModel)]="intern.mentor"
                      formControlName="mentor" 
                      readonly
                    />
                    <label for="inputgroup">Mentor Name</label>
                  </span>
                </div>
              </div>
  
              <div class="p-field p-col-12 p-md-4 mt40" hidden>
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon custom-color">
                    <i class="pi pi-id-card"></i>
                  </span>
                  <span class="p-float-label">
                    <input
                      type="text"
                      id="inputgroup"
                      pInputText
                      [(ngModel)]="intern.projectname"
                      formControlName="department" 

                    />
                    <label for="inputgroup">Enter Employee Department</label>
                  </span>
                </div>
              </div>
  
              <div class="p-field p-col-12 p-md-4 mt40">
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon custom-color">
                    <i class="pi pi-map-marker"></i>
                  </span>
                  <span class="p-float-label">
                    <input
                      type="text"
                      id="inputgroup"
                      pInputText
                      [(ngModel)]="intern.location"
                      formControlName="location" 
                      readonly
                    />
                    <label for="inputgroup">Enter Base/Location</label>
                  </span>
                </div>
              </div>

           
  
              <div class="mt20 text-center">
                <button
                  pButton
                  pRipple
                  type="submit"
                  label="Edit"
                  class="p-button-success"
                  style="background-color: #d49dc4e7; border-color:#ffffffe7 ;"
                ></button>
              </div>
            </form>
          </p-card>
        </div>
  
        <div class="col-md-5 mt20">
          <p-card header="Documentation!!" styleClass="custom-card">
            <div>
              <label for="dos"
                ><strong style="color: #ffffffe7">Resume</strong></label
              >
              <hr />
              <div class="p-inputgroup">
                <input
                  class="mt10"
                  type="file"
                  accept="application/pdf"
                  pInputText
                  id="dos"
                  required
                  autofocus
                  (change)="selectFile($event)"
                />
  
                <button
                  pButton
                  pRipple
                  label="Upload"
                  icon="pi pi-upload"
                  class="p-button-text"
                  (click)="uploadFile()"
                  style="color: #ffffffe7"
                ></button>
              </div>
            </div>
  
            <div class="mt40">
              <label for="dos"
                ><strong style="color: #ffffffe7"
                  >Personal Identification</strong
                ></label
              >
              <hr />
  
              <div class="p-inputgroup">
                <input
                  class="mt10"
                  type="file"
                  accept="application/pdf"
                  pInputText
                  id="dos1"
                  required
                  autofocus
                  (change)="selectFile($event)"
                />
  
                <button
                  pButton
                  pRipple
                  label="Upload"
                  icon="pi pi-upload"
                  class="p-button-text"
                  (click)="uploadFile()"
                  style="color: #ffffffe7"
                ></button>
              </div>
            </div>
  
            <div class="mt40">
              <label for="dos"
                ><strong style="color: #ffffffe7"
                  >Official Documents</strong
                ></label
              >
              <hr />
              <div class="p-inputgroup">
                <input
                  class="mt10"
                  type="text"
                  pInputText
                  id="dos2"
                  required
                  autofocus
                  value="{{ intern.fileName }}"
                  readonly
                />
  
                <button
                  pButton
                  pRipple
                  label="Download"
                  icon="pi pi-download"
                  class="p-button-text"
                  (click)="downloadFile(intern.fileName)"
                  style="color: #ffffffe7"
                ></button>
              </div>
            </div>
          </p-card>
          <div class="mt20">
            <p-card header=" Uploaded Documents!!" styleClass="custom-card">
              <ul *ngFor="let item of documents">
                <li>{{ item.filename }}</li>
              </ul>
            </p-card>
          </div>
          <div class="mt20">
            <p-card header="Internship Period!!" styleClass="custom-card">
              <div class="p-field p-col-12 p-md-4 mt20">
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon custom-color">
                    <i class="pi pi-calendar-plus"></i>
                  </span>
                  <span class="p-float-label">
                    <input
                      type="text"
                      id="inputgroup"
                      pInputText
                      value= "{{intern.doj|date: 'MMMM d, y'}}"
                    name="doj"
                      readonly
                    />  
                    <label for="inputgroup">Date Of Joining</label>
                  </span>
                </div>
              </div>

              <div class="p-field p-col-12 p-md-4 mt40">
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon custom-color">
                    <i class="pi pi-calendar-plus"></i>
                  </span>
                  <span class="p-float-label">
                    <input
                      type="text"
                      id="inputgroup"
                      pInputText
                   
                      value= "{{intern.dol|date: 'MMMM d, y'}}"
                      name="dol"
                      readonly
                    />
                    <label for="inputgroup">Date Of Ending</label>
                  </span>
                </div>
              </div>
            </p-card>
          </div>
        </div>
      </div>
    </div>
  </div>
  
