<p-table
  #dt
  [value]="employeeData"
  [rows]="5"
  [paginator]="true"
  [globalFilterFields]="[
    'username',
    'employee.name',
    'employee.designation',
    'employee.location'
  ]"
  responsiveLayout="scroll"
  [rowHover]="true"
  dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [showCurrentPageReport]="true"
>
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between" width="100%">
      <h2 class="p-m-0">
        Employee List
        <span style="float: right" class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal(getEventValue($event), 'contains')"
            placeholder="Search..."
          />
        </span>
      </h2>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th></th>
      <th>Sr.No.</th>
      <th pSortableColumn="name">Name</th>
      <th pSortableColumn="designation">Designation</th>
      <th pSortableColumn="location">Location</th>
      <th>Action's</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-element let-i="rowIndex">
    <tr>
      <td></td>
      <td>{{ i + 1 }}</td>
      <td>{{ element.name }}</td>
      <td>{{ element.designation }}</td>
      <td>{{ element.location }}</td>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success p-mr-2"
          (click)="editEmployee(element)"
        ></button>

        &nbsp;
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded p-button-warning"
          (click)="deleteEmployee(element.id)"
        ></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="p-d-flex p-ai-center p-jc-between">
      In total there are
      {{ employeeData ? employeeData.length : 0 }} Employees..
    </div>
  </ng-template>
</p-table>
<p-dialog
  [(visible)]="employeeDialogue"
  [style]="{ width: '1000px', height: '1000px', backgroundColor: 'blue' }"
  [modal]="true"
  header="Employee Details!!"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <p-tabView styleClass="tabview-custom">
      <p-tabPanel>
        <ng-template pTemplate="header">
          <i style="color: rgba(221, 26, 68)" class="pi pi-user"></i>
          <span style="color: rgb(221, 26, 68); margin-left: 4px">Profile</span>
        </ng-template>
        <!-- new -->
        <div class="bootstrap-wrapper">
          <div class="container">
            <div class="row">
              <div class="col-md-4 text-center">
                <img
                  ng
                  src="{{ 'data:image/jpg;base64,' + employee.profilePic }}"
                  onerror="this.src='https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg'"
                  alt=""
                  class="profile-image"
                />
                <div>
                  <h2>
                    {{ employee.name }}
                    <br />
                    <span>({{ employee.location }})</span>
                  </h2>
                </div>
              </div>

              <div class="col-md-8">
                <div class="grid p-fluid">
                  <div class="col-12 md:col-2">
                    <div class="p-inputgroup">
                      <div class="mt10 mr20"><strong>Name</strong></div>
                      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                      <div></div>
                      <input
                        name="name"
                        placeholder="Name"
                        pInputText
                        type="text"
                        [(ngModel)]="employee.name"
                        class="p-inputtext-sm"
                      />
                    </div>
                  </div>
                </div>

                <div class="grid p-fluid mt20">
                  <div class="col-12 md:col-2">
                    <div class="p-inputgroup">
                      <div class="mt10 mr20"><strong>Mobile</strong></div>
                      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                      <div></div>
                      <input
                        name="name"
                        placeholder="Name"
                        pInputText
                        type="text"
                        [(ngModel)]="employee.mobile"
                        class="p-inputtext-sm"
                      />
                    </div>
                  </div>
                </div>
                <div class="grid p-fluid mt20">
                  <div class="col-12 md:col-2">
                    <div class="p-inputgroup">
                      <div class="mt10 mr20"><strong>Email</strong></div>
                      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                      <div></div>
                      <input
                        name="email"
                        placeholder="Name"
                        pInputText
                        type="text"
                        [(ngModel)]="employee.email"
                        class="p-inputtext-sm"
                      />
                    </div>
                  </div>
                </div>
                <div class="grid p-fluid mt20">
                  <div class="col-12 md:col-2">
                    <div class="p-inputgroup">
                      <div class="mt10 mr20">
                        <strong>Designation</strong>
                      </div>
                      <div></div>
                      <input
                        name="designation"
                        placeholder="Name"
                        pInputText
                        type="text"
                        [(ngModel)]="employee.designation"
                        class="p-inputtext-sm"
                      />
                    </div>
                  </div>
                </div>

                <div class="grid p-fluid mt20">
                  <div class="col-12 md:col-2">
                    <div class="p-inputgroup">
                      <div class="mt10 mr20"><strong>Department</strong></div>
                      <div></div>
                      <input
                        name="department"
                        placeholder="Name"
                        pInputText
                        type="text"
                        [(ngModel)]="employee.department"
                        class="p-inputtext-sm"
                      />
                    </div>
                  </div>
                </div>
                <div class="grid p-fluid mt20">
                  <div class="col-12 md:col-2">
                    <div class="p-inputgroup">
                      <div class="mt10 mr20"><strong>Location</strong></div>
                      &nbsp; &nbsp; &nbsp;

                      <div></div>
                      <input
                        name="name"
                        placeholder="Name"
                        pInputText
                        type="text"
                        [(ngModel)]="employee.location"
                        class="p-inputtext-sm"
                      />
                    </div>
                  </div>
                </div>

                <div class="row mt20" style="margin-left: 140px">
                  <div class="btn">
                    <p-button
                      label="Cancel"
                      icon="pi pi-times"
                      styleClass="p-button-sm"
                      (onClick)="hideDialog()"
                    ></p-button>
                  </div>
                  <div class="sizes ml20">
                    <p-button
                      type="submit"
                      label="Update"
                      icon="pi pi-check"
                      styleClass="p-button-sm"
                      (onClick)="updateEmployee()"
                    ></p-button>
                  </div>
                </div>
              </div>
            </div>
            <br />
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Header II">
        <ng-template pTemplate="header">
          <i style="color: rgba(221, 26, 68)" class="pi pi-file"></i>
          <span style="color: rgb(221, 26, 68); margin-left: 4px"
            >Documentation</span
          >
        </ng-template>
        <!-- Documentation -->
        <div class="bootstrap-wrapper">
          <div class="container">
            <div class="row">
              <div class="col-md-7">
                <div class="mt20">
                  <p-card header=" Download Files!">
                    <ul *ngFor="let item of documents">
                      <li class="sizes">
                        <div
                          class="row"
                          style="display: flex; justify-content: space-around"
                          
                        >
                          {{ item.filename }}
                          <p-button
                            styleClass="p-button-sm"
                            icon="pi pi-download"
                           
                            (click)="downloadFile(item.filename)"
                          >
                          </p-button>
                        </div>
                      </li>
                    </ul>
                  </p-card>
                </div>
              </div>

              <div class="col-md-5">
                <div class="mt20">
                  <p-card header=" Upload File!!"> </p-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p-tabPanel>
    </p-tabView>
  </ng-template>
  <ng-template pTemplate="footer">
    <!-- <button type="button" pButton pRipple (click)="showSuccess()" label="Success" class="p-button-success"></button> -->
  </ng-template>
</p-dialog>
<p-toast></p-toast>

