<div class="app-container">
    <div class="navv">
        <p-toolbar styleClass="app-toolbar" >

            <div class="p-toolbar-group-left" class="p-toolbar-group-left">    
                <img src="\assets\AnemoiLogo.jfif" alt="" class="logo"> 
                <h2> 
                    ANEMOI TECHNOLOGIES
                    </h2>    
                  
          &nbsp;
         
             </div>
             <button pButton class="p-button-secondary" (click)="snav = true"  icon="pi pi-bars">
            </button>
        </p-toolbar>
    </div>
   
    <p-sidebar styleClass="sidebar" class="app-sidenav-container" [(visible)]="snav">
     
        <div class="menuItem">
            <hr>
            <h3> <i class="pi pi-users" style="font-size: 20px;"></i> &nbsp;<a [routerLink]="['/admin/welContent']" (click)="snav = false">Welcome,Admin</a></h3>
            <hr>
            <h3> <i class="pi pi-users" style="font-size: 20px;"></i> &nbsp;<a [routerLink]="['/admin/employee']"   (click)="snav = false">Employee</a></h3>
            <hr>
            <h3> <i class="pi pi-briefcase" style="font-size: 20px;"></i> &nbsp;<a  [routerLink]="['/admin/intern']" (click)="snav = false" >Intern</a></h3>
            <hr>
            <h3> <i class="pi pi-briefcase" style="font-size: 20px;"></i> &nbsp;<a  [routerLink]="['/admin/projects']"  (click)="snav = false" >Projects</a></h3>
            <hr>
            <h3> <i class="pi pi-briefcase" style="font-size: 20px;"></i> &nbsp;<a [routerLink]="['/admin/leave']" (click)="snav = false" >Leave</a></h3>
            <hr>
            <h3> <i class="pi pi-briefcase" style="font-size: 20px;"></i> &nbsp;<a  [routerLink]="['/admin/report']" (click)="snav = false" >Report</a></h3>
            <hr>
            <h3> <i class="pi pi-briefcase" style="font-size: 20px;"></i> &nbsp;<a [routerLink]="['/admin/joiningdate']" (click)="snav = false" >Date Of Joining</a></h3>
            <hr>
            <h3> <i class="pi pi-briefcase" style="font-size: 20px;"></i> &nbsp;<a [routerLink]="['/admin/documents']" (click)="snav = false" >Documentation</a></h3>
            <hr>
            <h3> <i class="pi pi-briefcase" style="font-size: 20px;"></i> &nbsp;<a (click)="snav = false" >Policies</a></h3>
            <hr>
            <h3> <i class="pi pi-briefcase" style="font-size: 20px;"></i> &nbsp;<a  [routerLink]="['/admin/register']"  (click)="snav = false" >Registration</a></h3>
            <hr>
            <h3> <i class="pi pi-briefcase" style="font-size: 20px;"></i> &nbsp;<a [routerLink]="['/admin/review']" (click)="snav = false" >Review</a></h3>
            <hr>
            <h3> <i class="pi pi-briefcase" style="font-size: 20px;"></i> &nbsp;<a (click)="logout()" [routerLink]="['/auth']" >Sign out</a></h3>
            <hr>
        </div>
    </p-sidebar>

    <div class="router-outlet-container">
        <router-outlet></router-outlet>
    </div>
</div>
