<p-menubar styleClass="p-menubar">
    <ng-template pTemplate="start">
        <img src="\assets\AnemoiLogo.jfif" height="60" class="p-mr-2">
    </ng-template>
    <ng-template pTemplate="end">
        <p-button label="HOME" styleClass="p-button-link" routerLink="/auth"></p-button>
        <p-button label="ADMIN" styleClass="p-button-link" routerLink="/auth/login"></p-button>
        <p-button label="EMPLOYEE" styleClass="p-button-link" routerLink="/auth/login"></p-button>
        <p-button label="INTERN" styleClass="p-button-link" routerLink="/auth/login"></p-button>
    </ng-template>
</p-menubar>

