.profile-image{
    max-width: 80px;
    max-height: 80px;
    border: 1px solid black;
      border-radius: 50%;
    text-align: center;
    margin-left: 10px;
    margin: 5px;
  }

  .custom-color{
    background-color: rgb(172, 165, 166);
    color: rgb(10, 235, 255);
}

.row{
  margin-left: 0px;
}
