<div class="bootstrap-wrapper">

    <div class="conatiner">
       <div class="col-md-6 offset-md-3">
         
        <p-card header="Change Password!!" styleClass="custom-card" >
             
         <form  [formGroup]="updateForm"  (ngSubmit)="changePassword(emp)">
                <div class="p-field p-col-12 p-md-4 mt40">
                    <div class="p-inputgroup">
                      <span class="p-inputgroup-addon custom-color">
                        <i class="pi pi-cog"></i>
                      </span>
                      <span class="p-float-label">
                        <input
                          type="password"
                          id="inputgroup"
                          pInputText
                          [(ngModel)]="emp.oldPassword"
                          formControlName="oldPassword"
                    [ngClass]="{ 'is-invalid': submitted1 && f1?.['oldPassword'].errors }"
                        />
                        <label for="inputgroup">Enter Old Password</label>
                      </span>
                    </div>
                    <div
                    *ngIf="submitted1 && f1?.['oldPassword'].errors"
                    class="invalid-feedback"
                  >
              
                    <div *ngIf="f1?.['oldPassword'].errors?.['required']">
                       Required Filed!!
                    </div>
                  
                  </div>
                  </div>

                  <div class="p-field p-col-12 p-md-4 mt40">
                    <div class="p-inputgroup">
                      <span class="p-inputgroup-addon custom-color">
                        <i class="pi pi-cog"></i>
                      </span>
                      <span class="p-float-label">
                        <input
                          type="password"
                          id="inputgroup1"
                          pInputText
                          [(ngModel)]="emp.newPassword"
                          formControlName="newPassword"
                          [ngClass]="{ 'is-invalid': submitted1 && f1?.['newPassword'].errors }"
                        />
                        <label for="inputgroup">Enter New Password</label>
                      </span>

                    </div>
                    <div
                    *ngIf="submitted1 && f1?.['newPassword'].errors"
                    class="invalid-feedback"
                  >
              
                    <div *ngIf="f1?.['newPassword'].errors?.['required']">
                       Required Filed!!
                    </div>
                    <div *ngIf="f1?.['newPassword'].errors?.['pattern']"><span>must be 8 char,Uppercase,Lowercase and one Speical Char!!</span></div>
                  </div>
                  </div>

                  <div class="mt20 text-center">
                
                    <button
                    pButton
                    pRipple
                    
                    type="submit"
                    label="Submit"
                    class="p-button-success"
                    style="background-color: #d49dc4e7;  border-color: #d49dc4e7 "
                   
                  ></button>
                

                  <button
                 
                    pButton
                    pRipple
                    type="reset"
                    label="Reset"
                    class="p-button-warning"
                    style="background-color: #d49dc4e7; margin-left: 20px; border-color: #d49dc4e7;"
                  ></button>
           
                  </div>
            </form>
        </p-card>

       </div>

    </div>

</div>

