
<p-dialog
[(visible)]="internDialogue"
[style]="{ width: '800px' }"
header="INTERN DETAILS"
[modal]="true"
styleClass="p-fluid"
>
<ng-template pTemplate="content">
  
  <!-- <button type="button" pButton pRipple (click)="showSuccess()" label="Success" class="p-button-success"></button> -->

  <div class="bootstrap-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-center">
          <img
            ng
            src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg"
          
            alt=""
            class="profile-image"
          />
          <div>
            <h2>
              {{ intern.name }}
              <br />
              <span>({{ intern.location }})</span>
            </h2>
          </div>
        </div>

        <div class="col-md-8">
          <div class="grid p-fluid">
            <div class="custom">
              <div >
                <div  class="mb4"><strong>Name</strong></div>
      
                <input
                  name="name"
                  placeholder="Name"
                  pInputText
                  type="text"
                  [(ngModel)]="intern.name"
                  class="p-inputtext-sm"
                />
              </div>
            </div>
          </div>

          <div class="grid p-fluid mt20">
            <div class="custom">
              <div>
                <div class="mb4"><strong>Mobile</strong></div>

                <div></div>
                <input
                  name="name"
                  placeholder="Name"
                  pInputText
                  type="text"
                  [(ngModel)]="intern.mobile"
                  class="p-inputtext-sm"
                />
              </div>
            </div>
          </div>
          <div class="grid p-fluid mt20">
            <div class="custom">
              <div >
                <div class="mb4"><strong>Email</strong></div>
            

                <div></div>
                <input
                  name="email"
                  placeholder="Name"
                  pInputText
                  type="text"
                  [(ngModel)]="intern.email"
                  class="p-inputtext-sm"
                />
              </div>
            </div>
          </div>
          <div class="grid p-fluid mt20">
            <div class="custom">
              <div>
                <div class="mb4">
                  <strong>Designation</strong>
                </div>
                <div></div>
                <input
                  name="designation"
                  placeholder="Name"
                  pInputText
                  type="text"
                  [(ngModel)]="intern.projectname"
                  class="p-inputtext-sm"
                />
              </div>
            </div>
          </div>

          <div class="grid p-fluid mt20">
            <div class="custom">
              <div >
                <div class="mb4"><strong>Mentor</strong></div>
                <div></div>
                <input
                  name="mentor"
                  placeholder="Name"
                  pInputText
                  type="text"
                  [(ngModel)]="intern.mentor"
                  class="p-inputtext-sm"
                />
              </div>
            </div>
          </div>
          <div class="grid p-fluid mt20">
            <div class="custom">
              <div >
                <div class="mb4"><strong>Location</strong></div>


                <div></div>
                <input
                  name="name"
                  placeholder="Name"
                  pInputText
                  type="text"
                  [(ngModel)]="intern.location"
                  class="p-inputtext-sm"
                />
              </div>
            </div>
          </div>
          <div class="grid p-fluid mt20">
            <div class="custom">
              <div >
                <div class="mb4"><strong>Address</strong></div>
          

                <div></div>
                <input
                  name="name"
                  placeholder="Name"
                  pInputText
                  type="text"
                  [(ngModel)]="intern.address"
                  class="p-inputtext-sm"
                />
              </div>
            </div>
          </div>

          <div class="row mt20" style="margin-left: 20px">
            <div class="btn">
              <p-button
                label="Cancel"
                icon="pi pi-times"
                styleClass="p-button-sm"
                (onClick)="hideDialog()"
              ></p-button>
            </div>
            <div class="sizes ml20">
              <p-button
                type="submit"
                label="Update"
                icon="pi pi-check"
                styleClass="p-button-sm"
                (onClick)="updateIntern()"
              ></p-button>
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>

</ng-template>
</p-dialog>
<p-toast></p-toast>




<p-table
  #dt
  [value]="internData"
  [rows]="5"
  [paginator]="true"
  [globalFilterFields]="[
    'username',
    'intern.name',
    'intern.mentor',
    'intern.location'
  ]"
  responsiveLayout="scroll"
  [rowHover]="true"
  dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [showCurrentPageReport]="true"
>
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
      <h2 class="p-m-0">Intern List
      <span style="float: right;" class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="dt.filterGlobal(getEventValue($event), 'contains')"
          placeholder="Search..."
        />
      </span>
    </h2>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th></th>
      <th>Sr.No.</th>
      <th pSortableColumn="name">Name</th>

      <th pSortableColumn="designation">Location</th>
      <th pSortableColumn="location">Mentor</th>
      <th>Action's</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-element let-i="rowIndex">
    <tr>
      <td></td>
      <td>{{ i + 1 }}</td>
      <td>{{ element.name }}</td>
       <td>{{ element.location }}</td>
      <td>{{ element.mentor}}</td>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success p-mr-2"
          (click)="editIntern(element)"
        ></button>

        &nbsp;
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded p-button-warning"
          (click)="deleteIntern(element.id)"
        ></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="p-d-flex p-ai-center p-jc-between">
      In total there are {{ internData ? internData.length : 0 }} Interns..
    </div>
  </ng-template>
</p-table>


