:host ::ng-deep p-card .custom-card{
  
   

    margin-top: 50px;
   color:white;
    background-color: #bb508ee7 !important ;
   
}

.custom-color{
    background-color: #ffffffe7;
    color: #bb508ee7;
}
.invalid-feedback::ng-deep *{
  
    color: wheat !important;
   
}