<br>
<div   class="custom-table2" >

  <p-table
  
  #dt
  [value]="reportData"
  [rows]="5"
  [paginator]="true"
  [globalFilterFields]="[
    'username',
    'employee.name',
    'employee.designation',
    'employee.location'
  ]"
  responsiveLayout="scroll"
  [rowHover]="true"
  dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [showCurrentPageReport]="true"
>
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
      <div class="div1"><h3 class="div1-h2" >Report List</h3>

        <span class="p-input-icon-left">
          <i class="pi pi-search" style="color: white !important;"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal(getEventValue($event), 'contains')"
            placeholder="Search..."
            class="p-inputtext-sm"
          />
        </span></div>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th></th>
      <th>Sr.No.</th>
      <th pSortableColumn="name">Name</th>
      <th pSortableColumn="name">Employee/Intern ID </th>
      <th pSortableColumn="designation">Feedback</th>
      <th pSortableColumn="location">Action Taken</th>
    
     
    
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-element let-i="rowIndex">
    <tr>
      <td></td>
      <td>{{ i + 1 }}</td>
      <td>{{ element?.employeeName }}</td>
      <td>{{element.username}}</td>
     
      <td>
        {{element.feedback}} 
        </td>
         <td> <div class="col-12 md:col-4">
          <div class="p-inputgroup">
              <input style="background-color: #f5f3f4e7   !important; color: black !important;" name= "actionTaken" type="text" pInputText placeholder="Enter Action Here!!"  [(ngModel)]="element.actionTaken">   
              <button (click)="updateReport(element)" type="button" pButton pRipple icon="pi pi-check" styleClass="p-button-warn"></button>      
          </div>
      </div></td>
    
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="p-d-flex p-ai-center p-jc-between">
      In total there are {{ reportData ? reportData.length : 0 }} Reports of Employees..
    </div>
  </ng-template>
</p-table>

</div>
<br>