/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-center{
    text-align: center;
}
.full-width{
    width: 100%;
}

body{
    background-color: #d49dc4e7;
}

.mt10{
    margin-top: 10px !important;
}

.mt30{
    margin-top: 30px !important;
}
.mt40{
    margin-top: 40px !important;
}
.ml40{
    margin-left: 40px !important;
}
.mr40{
    margin-right: 40px !important;
}
.mb40{
    margin-bottom: 40px !important;
}


.mt90{
    margin-top: 90px !important;
}

.mt40{
    margin-top: 40px !important;
}

.mt20{
    margin-top: 20px !important;
}
.mr20{
    margin-right: 20px !important;
}
.ml20{
    margin-left: 20px !important;
}
.mr60{
    margin-right: 60px !important;
}

.ml80{
    margin-left: 80px !important;
}
.mb20{
    margin-bottom: 20px !important;
}

.ml10{
    margin-top: 10px !important;
}
.ml10{
    margin-top: 10px !important;
}
.ml10{
    margin-top: 10px !important;
}
.ml10{
    margin-top: 10px !important;
}

