<div class="card">
    <p-tabView styleClass="tabview-custom" class="custom-accordion" >
        <p-tabPanel  >
          <ng-template pTemplate="header" >
         
            <i style="color: white; " class="pi pi-user"></i>
            <span style="color: white; margin-left: 4px;  ">Employee</span>
        
          </ng-template>
           <div class = "custom-table2">
            <p-table
            #dt
            [value]="empLeaveData"
            [rows]="5"
            [paginator]="true"
            [globalFilterFields]="[
           
              'name',
             
            ]"
            responsiveLayout="scroll"
            [rowHover]="true"
            dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true"
          >
            <ng-template pTemplate="caption">
              <div class="p-d-flex p-ai-center p-jc-between">
                <div class="div1"><h3 class="div1-h2" >Leave Record</h3>

                  <span class="p-input-icon-left">
                    <i class="pi pi-search" style="color: white !important;"></i>
                    <input
                      pInputText
                      type="text"
                      (input)="dt.filterGlobal(getEventValue($event), 'contains')"
                      placeholder="Search..."
                      class="p-inputtext-sm"
                    />
                  </span></div>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th></th>
                <th>Sr.No.</th>
                <th pSortableColumn="name">Name</th>
                <th pSortableColumn="casual">Casual Leave</th>
                <th pSortableColumn="sick">Sick Leave</th>
                <th pSortableColumn="earned">Earned Leave</th>
                <th pSortableColumn="total">Total Leave</th>
              
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-element let-i="rowIndex" let-j = "" >
              <tr>
                <td></td>
                <td>{{ i + 1 }}</td>
                <td>{{element.name}}</td>
                <td>{{element.totalCasualLeaves}}</td>
              
               <td>{{element.totalSickLeaves}}</td>
                 
                <td >{{element.totalEarnedLeaves}}</td>
                <td  >{{element.totalCasualLeaves + element.totalEarnedLeaves + element.totalSickLeaves}}</td>
            </tr>
            </ng-template>
            <ng-template pTemplate="summary">
              <div class="p-d-flex p-ai-center p-jc-between">
                <!-- In total there are {{ employeeData ? employeeData.length : 0 }} Employees.. -->
              </div>
            </ng-template>
          </p-table>
           </div>
          
        </p-tabPanel>

    <!-- Intern Leave Table Starts From here -->
        <p-tabPanel>
          <ng-template pTemplate="header">
          
            <i style="color: white;" class="pi pi-user"></i>
            <span style="color: white; margin-left: 4px; ">Intern</span>
         
          </ng-template>
          <div class="custom-table2">
            <p-table
          #dt1
          [value]="internLeaveData"
          [rows]="5"
          [paginator]="true"
          [globalFilterFields]="[
           
            'name'
           
          ]"
          responsiveLayout="scroll"
          [rowHover]="true"
          dataKey="id"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [showCurrentPageReport]="true"
        >
          <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
              <div class="div1"><h3 class="div1-h2" >Leave Record</h3>

                <span class="p-input-icon-left">
                  <i class="pi pi-search" style="color: white !important;"></i>
                  <input
                    pInputText
                    type="text"
                    (input)="dt.filterGlobal(getEventValue($event), 'contains')"
                    placeholder="Search..."
                    class="p-inputtext-sm"
                  />
                </span></div>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th></th>
              <th>Sr.No.</th>
              <th pSortableColumn="name">Name</th>
              <th>Total Leaves</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-element let-i="rowIndex"  >
            <tr  >
              <td></td>
              <td >{{ i + 1 }}</td>
            
              <td>{{element.name}}</td>
              <td >
                {{element.totalLeave}}
              </td>
              

            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
              <!-- In total there are {{ employeeData ? employeeData.length : 0 }} Employees.. -->
            </div>
          </ng-template>
        </p-table>
          </div>
        </p-tabPanel>
    </p-tabView>
</div>
