.custom-accordion::ng-deep *{
    background-color:  #d49dc4e7 !important;
    color: white;
   
}



.custom-table2::ng-deep * {
    background-color:  #f5f3f4e7  !important;
    color: black !important;
 }
 
 .div1-h2{
    background-color: #bb508ee7 !important ; color: white !important; display: table !important; padding: 6px !important;
 }
 
 .div1{
    display: flex;
                align-items: center;
                justify-content: space-between
 }
 
 :host ::ng-deep .btn * {
    color: white !important;
    background-color:#bb508ee7 !important ;
 
 
 }