<div class="app-container">
  <div class="navv">
    <p-toolbar styleClass="app-toolbar">
      <div class="p-toolbar-group-left" class="p-toolbar-group-left" >
        <button
      pButton
      class="p-button-secondary"
      (click)="snav = true"
      icon="pi pi-bars"
    ></button>
 
      <div style="display: flex; align-items: center;"  >
        <img src="\assets\AnemoiLogo.jfif" alt="" class="logo" />
        <h2>ANEMOI TECHNOLOGIES</h2>
      </div>
      

        &nbsp;
      </div>
      <div style="display: flex; align-items: center; color: #bb508ee7;" >
        <img
        src="{{ 'data:image/jpg;base64,' + profilePic }}"
        onerror="this.src='https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg'"
        alt=""
        class="custom-profile-image"
      /> &nbsp;<h4>{{username}}</h4>
     <p-button label="Sign out" styleClass="p-button-link" routerLink="/auth" icon=" pi pi-sign-out" (onClick)="logout()"></p-button>

     </div>
    </p-toolbar>
  </div>

  <p-sidebar
    styleClass="sidebar"
    class="app-sidenav-container"
    [(visible)]="snav"
  >
    <div class="menuItem">
      <div>
        <div class="container">
          <img
            src="{{ 'data:image/jpg;base64,' + profilePic }}"
            onerror="this.src='https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg'"
            alt=""
            class="profile-image"
          />

          <p-fileUpload
            class="btn"
            [customUpload]="true"
            (onSelect)="uploadFile()"
            (uploadHandler)="onUpload($event)"
            mode="basic"
            accept=" .jpg, .jpeg"
          ></p-fileUpload>
        </div>

        <h3 style="color:#ffffffe7">Welcome,{{ username }}</h3>
      </div>

      <hr />
      <h3>
        <i class="pi pi-users" style="font-size: 20px"></i> &nbsp;<a
          [routerLink]="['/intern/dashboard']"
          (click)="snav = false"
          >Dashboard</a
        >
      </h3>
      <hr />
      <h3>
        <i class="pi pi-users" style="font-size: 20px"></i> &nbsp;<a
          [routerLink]="['/intern/employees']"
          (click)="snav = false"
          >Employee</a
        >
      </h3>
      <hr />
      <h3>
        <i class="pi pi-briefcase" style="font-size: 20px"></i> &nbsp;<a
          [routerLink]="['/intern/interns']"
          (click)="snav = false"
          >Intern</a
        >
      </h3>
      <hr />
      <h3>
        <i class="pi pi-briefcase" style="font-size: 20px"></i> &nbsp;<a
          [routerLink]="['/intern/projects']"
          (click)="snav = false"
          >Projects</a
        >
      </h3>
      <hr />
      <h3>
        <i class="pi pi-briefcase" style="font-size: 20px"></i> &nbsp;<a
          [routerLink]="['/intern/leaves']"
          (click)="snav = false"
          >Leave</a
        >
      </h3>
      <hr />
      <h3>
        <i class="pi pi-briefcase" style="font-size: 20px"></i> &nbsp;<a
        [routerLink]="['/intern/feedback']"
          (click)="snav = false"
          >Feedback</a
        >
      </h3>
      <hr />
      <h3>
        <i class="pi pi-cog" style="font-size: 20px"></i> &nbsp;<a
        [routerLink]="['/intern/settings']"
          (click)="snav = false"
          >Settings</a
        >
      </h3>
      <hr />


      
      <h3>
        <i class="pi pi-briefcase" style="font-size: 20px"></i> &nbsp;<a
          (click)="logout()"
          [routerLink]="['/auth']"
          >Sign out</a
        >
      </h3>
      <hr />
    </div>
  </p-sidebar>

  <div class="router-outlet-container">
    <router-outlet></router-outlet>
  </div>
</div>
