.profile-image{
    max-width: 150px;
    max-height: 150px;
    border: 1px solid black;
      border-radius: 50%;
    text-align: center;
   
  }

  .container .btn {
    position: absolute;
   margin-top: 140px;
 
    transform: translate(-80%, -100%);
  
 
  }

  .logo{
    width: 60px;
    margin: 10px;
  }
  
  ::ng-deep .app-toolbar{
      
    background-color: #ffffffe7;
   
  }

  .custom-profile-image{
    max-width: 40px;

    border: 0.2px solid black;
      border-radius: 50%;
    text-align: center;
   
  }


  ::ng-deep .sidebar{
    
    background-color: #bb508ee7 !important;
    color:#e7cde0e7 !important  ;
   
  }
  
  ::ng-deep .sidebar button *{
      
  
    color:white !important  ;
   
  }
  a{
    color: white;
  }
  

  
    :host ::ng-deep  .p-button-link {
      color: #bb508ee7;
    }
    
    .p-button-secondary{
      background-color: #bb508ee7 !important;
      color: white !important;
    }